<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapiscom/css2?family=Gayathri&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Hooper Info</title>
  </head>
  <body>
    <nav>
      <div class="nav">
        <a href="/index" class="nav">Home Page</a>
        <% if (user) { %>
        <a href="profile/show" class="nav">My Profile</a>
        <a href="/logout" class="nav">Log Out</a>
        <% } else { %>
        <a href="/auth/google" class="nav">Login with Google</a>
        <% } %>
      </div>
      <a href="/players/index" class="nav">Hoopers</a>
    </nav>
    <h1><%= player.name %></h1>
    <div class="center"><h2>Name</h2></div>
    <div class="center">
      <% if (player.team.length) { %>
      <h7><%= player.team %></h7>
      <% } else { %>
      <p>None</p>
      <% } %>
    </div>
    <div class="center"><h2>Positions</h2></div>
    <div class="center"><p><%= player.position.join(', '); %></p></div>
    <div class="center"><h2>Age</h2></div>
    <div class="center"><p><%= player.age %></p></div>
    div class="center"><h2>Height</h2></div>
    <div class="center"><p><%= player.height %></p></div>
    <br />
    <div class="center">
      <% if (user) { %>
      <button type="submit" id="editBtn">
        <a href="/players/<%= player.id %>/edit">Edit</a>
      </button>
      <form action="/following" method="POST">
        <button
          type="submit"
          name="id"
          value="<%= player._id %>"
          id="newFollow"
        >+ Follow
        </button>
      </form>
      <% } %>
    </div>
  </body>
</html>
