<link rel="stylesheet" type="text/css" href="/stylesheets/show.css">
<% include ../partials/nav %>
    <div id="details">
        <section id="players-page">
            <div>
                <h2>
                    <%= player.hooper %>
                </h2>
              </div>
                <BR>
                <div>
                    <BR>
                    <h4>Hooper Rating</h4>
                </div>
                <div>
                    <%= player.avgRating %>
                </div>
                <div>
                  <BR>
                  <h4>Age</h4>
              </div>
              <div>
                  <%= player.age %>
              </div>
              <div>
                <BR>
                <h4>Height</h4>
            </div>
            <div>
                <%= player.height %>
            </div>
            <div>
              <BR>
              <h4>Position</h4>
          </div>
          <div>
              <%= player.position %>
          </div>
                <div>
                    <BR>
                    <% if (user &&(player.athlete.equals(user._id))){ %>
                        <a href="/players/<%=player._id%>/edit" id="button"> &nbsp; Edit Hooper &nbsp; </a>
                        <BR>
                        <BR>
                        <form action="/players/<%= player.id %>?_method=DELETE" method="POST">
                            <button type="delete" id="button">Delete</button>
                        </form>
                        <% } %>
                </div>

            </div>
        </section>
    </div>
    <br><br>
    <div id="commentContainer">
        <h2>Comments</h2>
        <form id="add-comment-form" method="POST" action="/players/<%= player._id %>/comments">
            <% if (user) { %>
                <label>Rating:</label>
                <BR>
                <select name="rating" class="input">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option selected="selected">
                4
            </option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
                <BR>
                <label>Comment:</label>
                <BR>
                <textarea name="commentContent" class="input"></textarea>
                <BR>
                <input type="submit" value="Add Comment" id="button">
        </form>
        <% } %>
            <div id="content">
                <% if (player.comments.length) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <h4>Rating</h4>
                                </th>
                                <th>
                                    <h4>Comment</h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% player.comments.forEach(function(p) { %>
                                <tr>
                                    <td>
                                        <%= p.rating %>
                                    </td>
                                    <td>
                                        <%= p.commentContent %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <h5>No Comments Yet</h5>
                        <% } %>
            </div>
    </div>
    </div>
    <% include ../partials/footer %>