<link rel="stylesheet" type="text/css" href="/stylesheets/show.css">
<% include ../partials/nav %>
    <div id="details">
        <section id="players-page">
            <div>
                <h2>
                    <%= player.hooper %>
                </h2>
              </div>
                <BR>
                <div>
                    <BR>
                    <h4>Hooper Rating</h4>
                </div>
                <div>
                    <%= player.avgRating %>
                </div>
                <div>
                  <BR>
                  <h4>Age</h4>
              </div>
              <div>
                  <%= player.age %>
              </div>
              <div>
                <BR>
                <h4>Height</h4>
            </div>
            <div>
                <%= player.height %>
            </div>
            <div>
              <BR>
              <h4>Position</h4>
          </div>
          <div>
              <%= player.position %>
          </div>
                <div>
                    <BR>
                    <% if (user &&(player.athlete.equals(user._id))){ %>
                        <a href="/players/<%=player._id%>/edit" id="button"> &nbsp; Edit Hooper &nbsp; </a>
                        <BR>
                        <BR>
                        <form action="/players/<%= player.id %>?_method=DELETE" method="POST">
                            <button type="delete" id="button">Delete</button>
                        </form>
                        <% } %>
                </div>

            </div>
        </section>
    </div>
    
    <% include ../partials/footer %>